NODE_ENV='development'

# HTTP server
HTTP_PORT=4000
HTTP_HOST='http://localhost:4000'
HTTP_CORS='http://localhost:3000'

# Cookies
COOKIES_DOMAIN="localhost"
COOKIES_SECRET="secret"

# Passport
PASSPORT_SECRET_KEY="secret"

# gRPC clients
AUTH_GRPC_URL='localhost:50051'
